@font-face {
    font-family: 'iconfont';  /* project id 2191544 */
    src: url('//at.alicdn.com/t/font_2191544_w4i56n0zkq.eot');
    src: url('//at.alicdn.com/t/font_2191544_w4i56n0zkq.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2191544_w4i56n0zkq.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2191544_w4i56n0zkq.woff') format('woff'),
    url('//at.alicdn.com/t/font_2191544_w4i56n0zkq.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2191544_w4i56n0zkq.svg#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    cursor: default;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #222222;
}
input[type='text']{
    outline: none;
    height: 32px;
    width: 68%;
}
.head{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #323232;
    z-index: 12;
}
.header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 325px;
    max-width: 540px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    /*background-color: aqua;*/
}
.h-left {
    float: left;
    width: 160px;
    height: 60px;
    font-size: 24px;
    color: white;
    line-height: 60px;
    /*margin: 0 auto;*/
}
.h-mid{
    position: absolute;
    top: 16px;
    left: 140px;
    /*display: none;*/
    /*background-color: aqua;*/
}
.h-mid #write,
.h-mid #time,
.h-mid1 #sou-suo{
    width: 188px;
    height: 32px;
    /*margin-top: 14px;*/
    outline-style: none;
    border-radius: 8px;
    text-indent: 12px;
    cursor: text;
}
.h-mid #time{
    text-indent: 8px;
    width: 84px;
}
.h-mid1{
    display: none;
    position: absolute;
    top: 16px;
    left: 174px;
}
.h-mid1 #sou-suo{
    width: 220px;
}
#jia{
    float: right;
    height: 60px;
    color: white;
    font-weight: 200;
    font-size: 40px;
    line-height: 60px;
    padding-right: 32px;
    cursor: pointer;
}
.sou{
    float: right;
    font-family: 'iconfont';
    height: 60px;
    color: white;
    font-size: 28px;
    line-height: 68px;
    cursor: pointer;
    margin-right: 20px;
}

.nav{
    width: 100%;
    height: 100%;
    /*height: 30px;*/
    background-color: #F9EFD4;
    /*margin: 0 auto;*/
    /*text-align: center;*/
    overflow: hidden;
}
.w{
    max-width: 540px;
    min-width: 325px;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid darkgray;
    border-bottom: none;
}
.yi-nav{
    position: relative;
    margin-top: 70px;
    color: black;
    height: 80px;
    font-weight: 800;
    font-size: 20px;
    line-height: 68px;
    text-indent: 34px;
    background: url("upload/true.jpg") no-repeat;
    /*background-size: 100% 100%;*/
    background-size: 100%;
    border-radius: 5px;
}
.yi-nav-after,
.wei-nav-after{
    position: absolute;
    top: 12px;
    right: 8px;
    /*float: right;*/
    display: block;
    width: 40px;
    height: 40px;
    /*content: '\e667';*/
    font-family: 'iconfont';
    font-size: 20px;
    /*width: 20px;*/
    text-indent: 0;
    text-align: center;
    line-height: 40px;
    color: #DF860D;
    font-weight: 400;
    /*background-color: aqua;*/
    /*margin-right: 40px;*/
    cursor: pointer;
}
.wei-nav{
    position: relative;
    margin-top: 20px;
    color: white;
    height: 80px;
    font-weight: 800;
    font-size: 20px;
    line-height: 68px;
    text-indent: 34px;
    background: url("upload/second.jpg") no-repeat 0 -400px;
    /*background-size: 100% 100%;*/
    background-size: 100% ;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.wei-nav-after{
    /*width: 20px;*/
    color: #2D2EA4;
}
.yi-dian{
    transform: rotate(180deg);
}
.yi-xia,
.wei-xia{
    display: none;
    overflow: hidden;
}
.yi-xia{
    background-color: #CADCD3;
}
.wei-xia{
    background-color: #BE87A1;
}
.yi-xia p,
.wei-xia p{
    display: inline;
    font-size: 18px;
    /*font-size: 16px;*/
}
.xia{
    position: relative;
    /*height: 60px;*/
    background-color: #ECCF8B;
    margin-top: 5px;
    color: #C15327;
    font-size: 20px;
    text-indent: 20px;
    line-height: 60px;
    border-radius: 5px;
    /*box-shadow: 4px 4px 2px rgba(0,0,0,.3);*/
    word-break: break-all;
    word-wrap: break-word;
    /*transition: all .5s;*/
}
.mit{
    margin-left: 10px;
    font-size: 16px;
}
.clear,
.start{
    float: right;
    font-size: 16px;
    padding:0 10px;
    height: 62px;
    color: white;
    text-indent: 0;
    background-color: #F85170;
    /*border: 1px solid #221E43;*/
    cursor: pointer;
}
.clear{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.start{
    background-color: #1CAE1B;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.start-date1,
.date{
    position: absolute;
    top: 12px;
    left: 240px;
    /*float: right;*/
    /*margin-left: 220px;*/
    color: #16151B;
}
.start-date1{
    top: -12px;
}
.xia input[type='checkbox']{
    margin-right: 20px;
}
.yi-xia div:last-child,
.wei-xia div:last-child{
    margin-bottom: 5px;
}